<div th:fragment="footer">
<div class="footer" >
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<ul class="footer-Menu">
						<li><a href="/about">About us</a></li>
						<li><a href="/contact">Contact us</a></li>
						<!-- <li><a href="/terms-of-use">Terms of use</a></li> -->
						<!-- <li><a href="/privacy-policy">Privacy Policy</a></li> -->
						<li><a href="/how-to-register">How to register</a></li>
					</ul>
					
				</div>
				<div class="col-md-4 "><p class="text-right">All Rights Reserved &copy; 2018</p></div>
			</div>
			<hr style="border-color: #6d6a6a;margin:10px 0px 10px 0px"/>
			<div class="row">
			<div style="text-align:center; color: #9c9e9e;font-size: 11px;">Best Resolution: 1366x768 on Chrome, Firefox</div>
			</div>
		</div>
	</div>	
	<div th:replace="fragments/shareable :: shareable">...</div>
</div>
	<script src="https://www.google.com/recaptcha/api.js" ></script>
	 <script src="../../js/headerController.js"></script>
   