<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body>

	<div th:replace="fragments/header :: header">...</div>
	<div class="signupBg">
	<div class="container">
	<br />
		
		<div class="col-sm-6">
		<div class="bg_Area">
			<h2 th:text="#{label.forgotpassword.title}" class="form-signin-heading text-center">Sign In</h2>
			<h4 th:text="#{label.forgotpassword.subtext}" class="form-signin-heading text-center">Help text</h4>
			<br/>
			
			<form name='f' action='/user/forgotPassword' method='POST' class="form-signin">	
				<p th:text="#{label.forgotpassword.email}">Email</p>
		        <input th:placeholder="#{label.forgotpassword.email}" type="email" name="email" class="form-control" required="true" autofocus="true" />
		        <br/>
		        <button th:text="#{label.forgotpassword.submit}" class="btn btn-lg orange_btn btn-primary btn-block" type="submit">Send</button>
			</form>
			</div>
		</div>
	
		<div class="col-sm-6"></div>
			
	</div>
	</div>
<!-- 	<div class="container">
	
		<div class="col-sm-4"></div>
		
		<div class="col-sm-4">
		
			<h2 th:text="#{label.forgotpassword.title}" class="form-signin-heading text-center">Sign In</h2>
			<h4 th:text="#{label.forgotpassword.subtext}" class="form-signin-heading text-center">Help text</h4>
			<br/>
			
			<form name='f' action='/user/forgotPassword' method='POST' class="form-signin">	
				<p th:text="#{label.forgotpassword.email}">Email</p>
		        <input th:placeholder="#{label.forgotpassword.email}" type="email" name="email" class="form-control" required="true" autofocus="true" />
		        <br/>
		        <button th:text="#{label.forgotpassword.submit}" class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
			</form>
			
		</div>
		
		<div class="col-sm-4"></div>
	</div> -->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<ul class="footer-Menu">
						<li><a href="/about">About us</a></li>
						<li><a href="/contact">Contact us</a></li>
						<li><a href="/terms-of-use">Terms of use</a></li>
						<li><a href="/privacy-policy">Privacy Policy</a></li>
					</ul>
					
				</div>
				<div class="col-md-4 "><p class="text-right">All Rights Reserved @2018</p></div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer">...</div>
 <script>
			var height = window.innerHeight;
			document.getElementsByClassName("signupBg")[0].style.height = height+'px';
		</script>
</body>
</html>